<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <!-- <h1>Book List</h1> -->
            </div>
            <div class="panel-body">
                <table class="table-latitude">
                     <caption>Book Information</caption>
                      <thead>
                          <th>Cover</th>
                          <th>Title</th>
                          <th>Price</th>
                          <th>Discount</th>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan=4>Contact details for the Knowledge and Development Team</td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <th>Conver1</th>
                            <th>Story</th>
                            <td>10$</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <th>conver2</th>
                            <th>Khmer</th>
                            <td>15$</td>
                            <td>10%</td>
                        </tr>
                        <tr>
                            <th>conver3</th>
                            <th>English</th>
                            <td>20$</td>
                            <td>70%</td>
                        </tr>
                        <tr>
                            <th>conver4</th>
                            <th>Math</th>
                            <td>30$</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <th>conver5</th>
                            <th>Math level 12</th>
                            <td>40$</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <th>conver6</th>
                            <th>Khmer level 12</th>
                            <td>30$</td>
                            <td>40%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
