<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="text-container">
    <h1>LIBRARY</h1>
    </div>

    <div class="navigation-bar-container">
      <div class="navigation-element" routerLink="book-list-component">Home</div>
      <div class="navigation-element" routerLink="/test-component" routerLinkActive="active">Book</div>
      <div class="navigation-element" routerLink="/contact-component" routerLinkActive="active">Contact Us</div>
      <div class="navigation-element" routerLink="/about-component" routerLinkActive="active">About Us</div>
      <form>
        <input type="text" class="input-search" placeholder="Search Keyword">
      </form>
    </div>
  </header>

  <!-- <div class="body-container">
    <div class="image-container">./assets/images/1.jp
      <img src="eg" > -->
      <!-- <div class="panel">
        <h4 class="category-name">Work</h4>
        <h4 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur amet ea alias culpa.........</h4>
      </div> -->
    <!-- </div>
  </div> -->
  
  <!-- <app-booklist></app-booklist> -->
 
  <router-outlet></router-outlet>  
</body>
</html>