<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-container">
        <div class="card-header">
            <header>Welcome  to add new book</header>
        </div>
            <div class="card-body">
                <form action="">
                    <label for="fname">Book Name:</label>
                    <input type="text" id="name" name="bookname" placeholder="Enter name book">
                
                    <label for="language">Book Language:</label>
                    <input type="text" id="language" name="booklanguage" placeholder="Enter language book">
                
                    <label for="type">Type Of Book:</label>
                    <select id="type" name="type">
                      <option value="listening">Listening</option>
                      <option value="Reading">Reading</option>
                    </select>
                    <input type="submit" value="Submit">
                  </form>
            </div>
    </div>
</body>
</html>